*{
    box-sizing: border-box; /*o margin ,padding e bottom não interferer na largura dos elementos.*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}

.box{
    width: 80%;
    margin: auto;
}

.container{
    background-color: #333;
    color: #eee;
    width: 80%;
    margin: auto; /*Deixa as margem dos lados iguais.*/
    padding: 20px;
    border: 3px solid red;
}

.main-aside h2{
    text-align: center;
}

.main-aside ul{
    list-style: none; /*Tira as bolinhas preta*/
    text-align: center;
    padding: 0;
}

.main-aside ul a{
    text-decoration: none;  /*Tira as linhas do link*/
    color: black;
}

.main-aside ul a:hover{ /*Quando passar o mouse por cima*/
    color: red;
    cursor: pointer;
}

.main-aside ul a:visited{ /*Depois que você clica nele*/
    color: green;
}

/* Formulário */
.main-form{
    padding-left: 20px;
}

.main-form .form-group{
    padding-bottom: 10px;
}

.main-form .form-group input{
    padding: 10px;
    width: 100%;
}

.main-form .form-group label{
    display: block;
}

.button{
    padding: 15px;
    background-color: #333;
    color: #eee;
    border: none;
}

/* Positions */

.relative{
    position: relative;
    border: 3px solid #333;
    height: 500px;
    border-radius: 7px;
}

.relative .absolute{
    position:absolute;
    bottom: 0;
}

.relative .absolute h1{
    margin: 0;
}

.main-navbar{
    background: #333;
    color: #eee;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.fixed-button{
    background: #333;
    color: #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/* Pseudoclasses*/

.categories ul{
    list-style: none;
}

.categories ul li:first-child{
    color: red;
}

.categories ul li:last-child{
    color: green;
}

.categories ul li:nth-child(3){ /*Estiliza o elemento na posição 3*/
    color: blue;
}
